.app {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/annie-spratt-AQfctGAI-Mo-unsplash.jpg');
    background-size: cover;
    background-position: center;
    
}